ARCJET_ENV=arcjet_env
ARCJET_KEY=arcjet_key

LIVEBLOCKS_PUBLIC_KEY=liveblocks_public_key
LIVEBLOCKS_SECRET_KEY=liveblocks_secret_key

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
CLERK_SECRET_KEY=clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=clerk_sign_in_url
NEXT_PUBLIC_CLERK_SIGN_UP_URL=clerk_sign_up_url

CODECOV_TOKEN=codecov_token

DATABASE_URL=database_url
DATABASE_DIRECT_URL=database_direct_url

UNSPLASH_ACCESS_KEY=unsplash_access_key

NEXT_PUBLIC_APP_URL=app_url

STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
STRIPE_API_KEY=stripe_api_key

SENTRY_AUTH_TOKEN=sentry_auth_token